@media only screen and (min-width:481px) and (max-width:720px){
    body{
    width: 100%;
    margin: 0 auto;
    font-family: Roboto, Arial, Helvetica sans-serif;
    }

    header {
	background-color: white;
	width: 100%;
	position: fixed;
    float: left;
    }

    .menudown{
        padding-left: 245px;
        padding-top: 10px;
    }
    .menudown ul, .menudown li{
        text-align: right;
       float: right;
       padding: 0px 0px;
    }
    .menudown ul{
        list-style:none;
        float:left;
    }

    .menudown ul li{
        float:left;
        margin-right: 8px;
        font: bold 9px sans-serif;
        text-align: right;
        text-decoration: none;
    }

    .menudown ul li a{
        text-decoration:none;
        color: gray;
    }

    .menudown ul li a:hover{
        text-decoration:none;
        color: darkgreen;
    }
    .mn{
        width: 13px;
    }
    .logo{
        width: 60px;
        float: left;
        display: block;
        padding:20px 25px;
    }

    .s1{

    }
    .img1{
        width: 100%;
        height: 350px;
    }
    .div21{
        text-align: center;
        font-size: 18px;
    }

    .div22{
        text-align: center;
        font-size: 10px;
    }
    .txt22{
        color: #616161;
        margin-left: 80px;
        margin-right: 90px;
    }

    .img2{
        width: 90%;
        float: right;
        padding-bottom: 20px;
        padding-left: 140px;
    }

    .div31{
        height: 70%;
    }
    .img3{
         width: 100%;
        display: block;
    }

    .div4{
         background-color: #2F4F4F;
        margin-top: -38px;
    }

    .txt41{
        background-color: #2F4F4F;
        padding-left: 40px;
        padding-top: 35px;
        color: white;
        font-size: 16px;
        text-align: left;
    }

    .txt42{
        padding-left: 40px;
        padding-right: 90px;
        color: white;
        font-size: 10px;
        text-align: left;
    }

    .txt43{
        padding-left: 40px;
        color: aqua;
        font-size: 10px;
        text-align: left;
        padding-bottom: 35px;

    }

    .div51{
        text-align: center;
        font-size: 16px;
    }

    .div52{
        text-align: center;
        font-size: 10px;
    }

    .txt52{
        color: #616161;
        margin-left: 80px;
        margin-right: 90px;
    }
    .div53{
        text-align: center;
        font-size: 9px;
    }

    .txt53{
         color: green;
        margin-left: 80px;
        margin-right: 90px;
    }
    .img5{
        width: 100%;
        background-color: #f7fbfa;
    }

    .div61{
        text-align: left;
        font-size: 25px;
    }
    .txt6{
        padding-left: 30px;
        font-size: 16px;
    }
    h3{
        width: 75%;
        padding-left: 5px;
        color: black;
    }
    .txt61{
        padding-left: 5px;
        font-size: 7px;
         color: #616161;
    }
    .div62{
        padding-left: 25px;
        display: block;
    }
    .s6{
        width: 100%;
        height: 300px;
    }

    .s6 img{
        width: 100%;
    }
    .sec61{
        width: 95px;
        float: left;
        border: 1px solid gainsboro;
        box-shadow: 0 3px 0 gainsboro;
        margin-left: 5px;
        height: 240px;
    }
    .sec62{
        width: 95px;
         height: 240px;
        float: left;
        border: 1px solid gainsboro;
        box-shadow: 0 3px 0 gainsboro;
        margin-left: 5px;
    }
    .sec63{
        width: 95px;
         height: 240px;
        float: left;
        border: 1px solid gainsboro;
        box-shadow: 0 3px 0 gainsboro;
        margin-left: 5px;
    }
    .sec64 {
        width: 95px;
         height: 240px;
        float: left;
        border: 1px solid gainsboro;
        box-shadow: 0 3px 0 gainsboro;
        margin-left: 5px;
    }
    h4{
        font-size: 50%;
    }

    .s7{
        background-color: #F5F5F5;
    }
    .div71{
        background-color: #F5F5F5;
    }

    .txt71{
        padding-top: 25px;
        padding-right: 45px;
        text-align: right;
        color: #616161;
        font-size: 9px;
    }
    .img71{
        width: 150px;
        padding-left: 28px;
    }

    .txt72{
        padding-top: 5px;
        padding-left: 25px;
        text-align: left;
        color: #616161;
        font-size: 8px;
    }

    .txt73{
        padding-top: 5px;
        padding-left: 25px;
        text-align: left;
        color: #616161;
        font-size: 8px;
        padding-bottom: 20px;
    }

    .img81{
        padding-left: 28px;
        padding-bottom: 20px;
        width: 180px;
        height: 18px;
    }

    .img82{
        padding-right: 18px;
        float: right;
        width: 150px;
    }

    .txtlink{
        font-family: arial narrow;
        font-size: 8px;
        color: #32cd32;
        padding-left: 5px;
        padding-top: 30px;
    }
    .txtlink1{
        font-family: arial narrow;
        font-size: 8px;
        color: #32cd32;
        padding-left: 5px;
        padding-top: 80px;
    }
    .txtlink2{
        font-family: arial narrow;
        font-size: 8px;
        color: #32cd32;
        padding-left: 5px;
        padding-top: 20px;
    }

}
